<%= image_tag "main.jpg", class: "bg" %>
<div class="container pagination-centered branding">
  <div class="row">
    <div class="span12">
      <%= image_tag "bell-shadow.png" %>
    </div>
    <div class="logo-small-container">
      <%= image_tag "logo-shadow.png", class: "logo-small" %>
    </div>
    <div class="slogan">Ringing the bell of good habits</div>
  </div>
  <div>
    <a href='/challenges' class='btn btn-danger btn-large all-challenges'>Your Challenges</a>
  </div>
</div>