.container
  %h3 Active Challenges
  %ul
    - if @active_challenges.empty?
      %li None
    - @active_challenges.each do |challenge|
      %li= link_to challenge.activity_type, challenge_path(challenge)
  %h3 Inactive Challenges
  %ul
    - if @inactive_challenges.empty?
      %li None
    - @inactive_challenges.each do |challenge|
      %li= link_to challenge.activity_type, challenge_path(challenge)
